In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# import the data from the .csv file 
client_data = 'Resources/client_dataset.csv'

In [3]:
# Read the data file with the Pandas library by creating a new dataframe
client_df=pd.read_csv(client_data)
client_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB

In [4]:
# View the records of the data
## Data contains 54,639 rows and 17 columns
'All columns seem to be populated with no missing information'
client_df
client_df.head(10)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
5,Jessica,Reyes,"Production designer, theatre/television/film",5016915923,jessica.reyes@grimes.net,33615,1327730,2023-05-02,18,2023,BMB23158-88-9A,decor,plants,172.84,154.44,2.79,78,0
6,Brian,Moore,Barista,+1-893-400-2733x982,moore.official@martinez.com,87213,8080280,2023-04-19,16,2023,UAC50632-25-4E,consumables,kitchen supplies,245.56,231.95,1.73,56,5
7,Jesus,Wright,Theme park manager,605.947.9467x66513,wright.jesus.7579@meadows.com,46709,8946782,2023-02-14,7,2023,UEU25316-01-1U,consumables,pens,20.99,16.97,5.12,22,4
8,Rebecca,Brown,Chiropodist,665-955-0156x926,rbrown850@lewis.info,73362,9394118,2023-05-13,19,2023,DDA06248-98-7Z,consumables,paper products,83.86,59.00,0.27,49,3
9,Greg,Garcia,"Secretary, company",(231)342-7216x1421,ggarcia@bentley.biz,58789,9665852,2023-04-14,15,2023,DUU85042-87-5E,furniture,seating,66.88,54.15,2.47,78,1

In [5]:
#Use the describe function to gather some basic statistics
client_df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [6]:
# Cleaning the dataset to remove records where the unit weight =0 or quantity=0 as it is assumed client must have these two fields populated
' the below step removed 142 rows where either the unit weight or the quantity is 0'
client_df_clean = client_df.loc[(client_df['unit_weight']>0) & (client_df['qty']>0)]
client_df_clean

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5

In [7]:
#What three item categories had the most entries?
## find how many entries each category has
category_count= client_df_clean["category"].value_counts()
category_count

category
consumables    23424
furniture      11907
software        8393
decor           7944
electronics     2829
Name: count, dtype: int64

In [8]:
## Print out the top 3 categories with the most entries
category_count.head(3)

category
consumables    23424
furniture      11907
software        8393
Name: count, dtype: int64

In [9]:
#For the category with the most entries, which subcategory had the most entries
## check the total count of sub categories
subcategory_count= client_df_clean["subcategory"].value_counts()
subcategory_count

subcategory
bathroom supplies     6422
paper products        5768
kitchen supplies      5743
tables                4537
misc                  4282
stands                4199
accounting            3752
project management    3520
plants                3464
wall art              3087
seating               2661
pens                  2602
logistics             1121
telecom                978
audio visual           731
cabling                653
desks                  510
computers              467
Name: count, dtype: int64

In [10]:
# Creating a new data frame to hold the consumables sub category  and its values
consumables_subcategory = client_df_clean.loc[client_df_clean['category']=='consumables','subcategory'].value_counts()
consumables_subcategory
# Printing out the subcategory with the most entries
consumables_subcategory.head(1)

subcategory
bathroom supplies    6422
Name: count, dtype: int64

In [11]:
#Which five clients had the most entries in the data?
##Combining fucntions to create the top 5 clients based on entries in the data
clients_usage =client_df_clean['client_id'].value_counts().head(5)
print(f" The top 5 clients with the most entries in the data are")
clients_usage

 The top 5 clients with the most entries in the data are

client_id
33615    220
66037    211
46820    209
38378    207
42481    205
Name: count, dtype: int64

In [12]:
#How many total units (the qty column) did the client with the most entries order?
# check how many entris the client_id =33615 has
max_client_units = client_df_clean.loc[client_df_clean['client_id']== 33615,'qty'].sum()
client_id_max= clients_usage.index[0]
print(f"The top client {client_id_max} has {max_client_units} units ordered")

The top client 33615 has 64313 units ordered

In [21]:
#Create a column that calculates the subtotal for each line using the unit_price and the qty.
## Creating the column 'subtotal that equals the unit price* the qty of each entry
"got a'SettingwithCopy Warning error here and had to correct it using .loc to define the new variable"

client_df_clean.loc[:,'subtotal'] = client_df_clean['unit_price']* client_df_clean['qty']
#client_df_clean['subtotal']= client_df_clean['subtotal'].map('{:,.2f}'.format)
client_df_clean.sort_values('subtotal')

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_weight,qty,line_number,subtotal,total_weight,shipping_price,total_price_without_st,total_price_with_st,total_cost,total_profit
43235,Danny,Jackson,Toxicologist,+1-959-625-3646x01410,danny.jackson.817@sherman-armstrong.net,84156,3375823,2023-01-01,52,2022,...,8.04,3,4,3.000000e-02,24.12,241.20,2.412300e+02,2.635438e+02,2.412300e+02,0.000000e+00
42761,William,Hart,Legal executive,(836)750-9128x69847,w.hart.3869@ramos.com,31229,7743380,2023-01-20,3,2023,...,4.22,2,1,4.000000e-02,8.44,84.40,8.444000e+01,9.225070e+01,8.442000e+01,2.000000e-02
37858,Shane,Gray,Teaching laboratory technician,(523)218-0023,much.gray@castro.com,61382,2775315,2023-02-24,8,2023,...,8.04,5,2,5.000000e-02,40.20,402.00,4.020500e+02,4.392396e+02,4.020500e+02,0.000000e+00
6766,Margaret,Paul,Chartered accountant,794.678.8124x7449,margaretpaul7922@cook.com,11444,6132139,2023-04-12,15,2023,...,4.22,3,3,6.000000e-02,12.66,126.60,1.266600e+02,1.383760e+02,1.266300e+02,3.000000e-02
608,Rachel,Perry,"Teacher, primary school",469-824-4454,r_perry@johnson.com,99736,6029956,2023-01-26,4,2023,...,8.04,6,7,6.000000e-02,48.24,482.40,4.824600e+02,5.270875e+02,4.824600e+02,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11740,Lauren,Jones,Architect,785-820-6323,jones.security.7283@gibson.com,84344,7071092,2023-03-13,11,2023,...,1.28,389960,4,8.245314e+07,499148.80,3494041.60,8.594718e+07,9.389730e+07,7.025909e+07,1.568809e+07
25972,Amy,Stewart,"Psychologist, educational",979.793.4884x57205,stewartamy@francis.com,86721,6057452,2023-03-21,12,2023,...,9.22,977121,3,9.810295e+07,9009055.62,63063389.34,1.611663e+08,1.760742e+08,1.344421e+08,2.672426e+07
23929,Michele,Mcdonald,Emergency planning/management officer,435-931-4939x95137,mcdonaldm317@hess-jackson.com,38473,4594154,2023-03-02,9,2023,...,2.25,219645,5,1.482472e+08,494201.25,3459408.75,1.517066e+08,1.657395e+08,1.282309e+08,2.347566e+07
15112,Dennis,Hawkins,"Social research officer, government",001-214-888-5838x7410,hawkins.dennis.5195@lee.com,85931,7263857,2023-03-05,9,2023,...,2.21,637318,3,2.061214e+08,1408472.78,9859309.46,2.159807e+08,2.359589e+08,1.270239e+08,8.895685e+07
21801,Julie,Anderson,Exhibition designer,5933099462,anderson_better_4704@bell.biz,78965,3833568,2023-04-29,17,2023,...,0.09,3958244,1,5.844743e+08,356241.96,2493693.72,5.869680e+08,6.412625e+08,3.987535e+08,1.882145e+08

In [22]:
#Create a column for shipping price. Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
' Additional Assumptions'
' Assumming the unit_weight is in pounds'

# define a function to caclulate shipping price based on weight

def shipping_price(weight):
    if weight >50:
        shipping_price=7*weight
    else:
        shipping_price=10*weight
    return shipping_price

# Creating a total weight variable based on the order's unit weight and quantity
client_df_clean.loc[:,'total_weight'] = client_df_clean['unit_weight']*client_df_clean['qty']

# applying the function to calculate the shipping price based on the total weight
client_df_clean.loc[:,'shipping_price'] = client_df_clean['total_weight'].apply(shipping_price)
client_df_clean.sort_values(by ='total_weight', ascending=False)
#client_df_clean.sort_values(by ='total_weight')

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_weight,qty,line_number,subtotal,total_weight,shipping_price,total_price_without_st,total_price_with_st,total_cost,total_profit
25972,Amy,Stewart,"Psychologist, educational",979.793.4884x57205,stewartamy@francis.com,86721,6057452,2023-03-21,12,2023,...,9.22,977121,3,98102948.40,9009055.62,63063389.34,1.611663e+08,1.760742e+08,1.344421e+08,26724259.35
12597,Jordan,Price,Local government officer,687.750.2141,pricej@donaldson-garcia.com,62227,3989744,2023-01-23,4,2023,...,27.51,212123,6,48733138.02,5835503.73,40848526.11,8.958166e+07,9.786797e+07,8.292949e+07,6652177.28
50048,Amanda,Burnett,Records manager,(959)858-6180x6708,evidence.amanda@clark.biz,77354,3089707,2023-04-17,16,2023,...,6.64,494692,1,40183831.16,3284754.88,22993284.16,6.317712e+07,6.902100e+07,5.723586e+07,5941250.92
40161,Charles,Mccormick,"Conservation officer, historic buildings",001-667-790-6949x2885,mccormick_sign@potter-sanford.com,46571,1553623,2023-05-22,21,2023,...,23.49,127184,6,12648448.80,2987552.16,20912865.12,3.356131e+07,3.666574e+07,2.855281e+07,5008505.92
29737,William,Savage,Minerals surveyor,534.689.6772,savagewilliam@johnson.com,30339,9375270,2023-02-14,7,2023,...,27.51,100479,7,23084045.46,2764177.29,19349241.03,4.243329e+07,4.635837e+07,3.928227e+07,3151021.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27069,Jennifer,Cruz,Plant breeder/geneticist,548.378.5243,junit1832@rowe.org,93900,6620961,2023-04-30,17,2023,...,0.05,3,1,23.76,0.15,1.50,2.526000e+01,2.759655e+01,2.385000e+01,1.41
29865,Julia,Mason,Multimedia specialist,001-255-966-2146,masonj@lawrence-martinez.com,83686,5767646,2023-02-16,7,2023,...,0.03,5,5,1933.35,0.15,1.50,1.934850e+03,2.113824e+03,1.194450e+03,740.40
36187,Curtis,Brown,Housing manager/officer,423-974-8701,browncurtis@perez.org,31165,6384052,2023-05-30,22,2023,...,0.05,2,2,176.26,0.10,1.00,1.772600e+02,1.936565e+02,1.677400e+02,9.52
54586,William,Jones,Osteopath,984.810.8661x5880,wsport6944@hill-moses.com,69528,7256364,2023-01-12,2,2023,...,0.04,2,1,310.62,0.08,0.80,3.114200e+02,3.402264e+02,2.939200e+02,17.50
29400,Sean,Steele,"Administrator, arts",698.307.8917x62247,seansteele@coleman-schroeder.com,62639,2427719,2023-01-18,3,2023,...,0.05,1,4,88.13,0.05,0.50,8.863000e+01,9.682827e+01,8.387000e+01,4.76

In [23]:
#Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%.
' Sales tax applies to both total price and the shipping price'
client_df_clean.loc[:,"total_price_without_st"] =(client_df_clean['subtotal']) + (client_df_clean['shipping_price'])
client_df_clean.loc[:,"total_price_with_st"] =(1 + 0.0925)*((client_df_clean['subtotal'])+ (client_df_clean['shipping_price']))
client_df_clean

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_weight,qty,line_number,subtotal,total_weight,shipping_price,total_price_without_st,total_price_with_st,total_cost,total_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,7.50,105,1,115164.00,787.50,5512.50,120676.50,131839.076250,85597.05,35079.45
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,1.49,21,0,523.95,31.29,312.90,836.85,914.258625,629.79,207.06
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,1.68,39,6,527.28,65.52,458.64,985.92,1077.117600,765.18,220.74
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,1.23,29,3,1056.18,35.67,356.70,1412.88,1543.571400,1077.35,335.53
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,46.43,20,1,3902.00,928.60,6500.20,10402.20,11364.403500,8663.60,1738.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,2.25,33,8,2743.29,74.25,519.75,3263.04,3564.871200,2222.55,1040.49
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,11.70,47,0,9709.73,549.90,3849.30,13559.03,14813.240275,12095.92,1463.11
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,4.16,475,6,31188.50,1976.00,13832.00,45020.50,49184.896250,41054.25,3966.25
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,18.04,112,0,165.76,2020.48,14143.36,14309.12,15632.713600,14280.00,29.12
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,2.07,1031,5,3103.31,2134.17,14939.19,18042.50,19711.431250,16599.10,1443.40

In [24]:
#Create a column for the cost of each line using unit cost, qty, and shipping price 
' Assumption: Shipping cost is the same as what is charged to the client'
client_df_clean.loc[:,"total_cost"] = (client_df_clean["unit_cost"]*client_df_clean["qty"]) + (client_df_clean["shipping_price"])
client_df_clean

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_weight,qty,line_number,subtotal,total_weight,shipping_price,total_price_without_st,total_price_with_st,total_cost,total_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,7.50,105,1,115164.00,787.50,5512.50,120676.50,131839.076250,85597.05,35079.45
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,1.49,21,0,523.95,31.29,312.90,836.85,914.258625,629.79,207.06
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,1.68,39,6,527.28,65.52,458.64,985.92,1077.117600,765.18,220.74
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,1.23,29,3,1056.18,35.67,356.70,1412.88,1543.571400,1077.35,335.53
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,46.43,20,1,3902.00,928.60,6500.20,10402.20,11364.403500,8663.60,1738.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,2.25,33,8,2743.29,74.25,519.75,3263.04,3564.871200,2222.55,1040.49
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,11.70,47,0,9709.73,549.90,3849.30,13559.03,14813.240275,12095.92,1463.11
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,4.16,475,6,31188.50,1976.00,13832.00,45020.50,49184.896250,41054.25,3966.25
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,18.04,112,0,165.76,2020.48,14143.36,14309.12,15632.713600,14280.00,29.12
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,2.07,1031,5,3103.31,2134.17,14939.19,18042.50,19711.431250,16599.10,1443.40

In [25]:
#Create a column for the profit of each line using line cost and line price.
' Assumes Sales tax is only applied to the customer and cannot be included in the profit '
client_df_clean.loc[:,"total_profit"] = client_df_clean["total_price_without_st"] - client_df_clean["total_cost"]
client_df_clean

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_weight,qty,line_number,subtotal,total_weight,shipping_price,total_price_without_st,total_price_with_st,total_cost,total_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,7.50,105,1,115164.00,787.50,5512.50,120676.50,131839.076250,85597.05,35079.45
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,1.49,21,0,523.95,31.29,312.90,836.85,914.258625,629.79,207.06
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,1.68,39,6,527.28,65.52,458.64,985.92,1077.117600,765.18,220.74
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,1.23,29,3,1056.18,35.67,356.70,1412.88,1543.571400,1077.35,335.53
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,46.43,20,1,3902.00,928.60,6500.20,10402.20,11364.403500,8663.60,1738.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,2.25,33,8,2743.29,74.25,519.75,3263.04,3564.871200,2222.55,1040.49
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,11.70,47,0,9709.73,549.90,3849.30,13559.03,14813.240275,12095.92,1463.11
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,4.16,475,6,31188.50,1976.00,13832.00,45020.50,49184.896250,41054.25,3966.25
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,18.04,112,0,165.76,2020.48,14143.36,14309.12,15632.713600,14280.00,29.12
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,2.07,1031,5,3103.31,2134.17,14939.19,18042.50,19711.431250,16599.10,1443.40

In [47]:
#Confirm Your Work
check_ids =[2742071,2173913,6128929]
for id in check_ids:
    check_order = client_df_clean.loc[client_df_clean["order_id"]==id,"total_price_with_st"].sum()
    check_order_fin = '{:,.2f}'.format(check_order)
    print(f" for order id {id} Total price with sales tax is : ${check_order_fin}")

 for order id 2742071 Total price with sales tax is : $152,811.90
 for order id 2173913 Total price with sales tax is : $162,388.72
 for order id 6128929 Total price with sales tax is : $923,441.24

In [62]:
#How much did each of the top 5 clients by quantity spend? Use your work from Part 1 for client ids?
'Top 5 clients by entries are contained in clients_usage data frame'
' check if they are the same as top 5 clients by quantity ordered '
top_5_byqty = client_df_clean.groupby(['client_id'])['qty'].sum()

Index([10033, 10091, 10218, 10351], dtype='int64', name='client_id')